#main{
    font-family: sans-serif;
    margin: 0%;
    padding-bottom: 0%;
    flex-direction: column;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    display: inline;
    text-align: center;
}

#img-div{
    background-color: white;
}
body{
    background-color: #EAEDED;
}
#tribute-info{
    background-color: #EAEDED;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }